{"openapi":"3.0.0","info":{"title":"Authentication","description":"","version":"0.0.1"},"servers":[{"url":"https://api.najman.app/api:Iz7gaLUa"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{}},"paths":{"/auth/login":{"post":{"operationId":"Authentication/auth/login|POST","summary":"Login and retrieve an authentication token","description":"Login and retrieve an authentication token\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["auth"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"authToken":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"","format":"email"},"password":{"type":"string","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"","format":"email"},"password":{"type":"string","description":""}}}}}}}},"/auth/magic-login":{"post":{"operationId":"Authentication/auth/magic-login|POST","summary":"Request Magic Link Code","description":"Request Magic Link Code\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["auth"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"","format":"email"}},"required":["email"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"","format":"email"}},"required":["email"]}}}}}},"/auth/magic-verify":{"post":{"operationId":"Authentication/auth/magic-verify|POST","summary":"Verify Magic Link Code","description":"Verify Magic Link Code\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["auth"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"authToken":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"","format":"email"},"code":{"type":"string","description":""}},"required":["email","code"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"","format":"email"},"code":{"type":"string","description":""}},"required":["email","code"]}}}}}},"/auth/me":{"get":{"operationId":"Authentication/auth/me|GET","summary":"Get the user record belonging to the authentication token","description":"Get the user record belonging to the authentication token\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["auth"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email","nullable":true},"push_token":{"type":"string","description":""},"credits":{"type":"integer","format":"int64","description":"","default":"2"},"sub_tier":{"type":"string","description":"","default":"free"},"preferences":{"type":"object","description":"","nullable":true},"role":{"type":"string","description":"","enum":["admin","contrib","user","guest"],"default":"guest"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/auth/signup":{"post":{"operationId":"Authentication/auth/signup|POST","summary":"Signup and retrieve an authentication token","description":"Signup and retrieve an authentication token\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["auth"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"authToken":{"type":"string"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"password":{"type":"string","description":""}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email"},"password":{"type":"string","description":""}}}}}}}},"/user/{user_id}":{"get":{"operationId":"Authentication/user/{user_id}|GET","summary":"Get user record","description":"Get user record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["user"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"user_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email","nullable":true},"password":{"type":"string","description":"","format":"password","nullable":true},"push_token":{"type":"string","description":""},"credits":{"type":"integer","format":"int64","description":"","default":"2"},"sub_tier":{"type":"string","description":"","default":"free"},"rc_app_user_id":{"type":"string","description":""},"preferences":{"type":"object","description":"","nullable":true},"magic_code":{"type":"string","description":""},"magic_code_expires_at":{"type":"number","format":"timestamptz","description":""},"role":{"type":"string","description":"","enum":["admin","contrib","user","guest"],"default":"guest"}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/user":{"get":{"operationId":"Authentication/user|GET","summary":"Query all user records","description":"Query all user records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["user"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"created_at":{"type":"number","format":"timestamptz","description":"","default":"now"},"name":{"type":"string","description":""},"email":{"type":"string","description":"","format":"email","nullable":true},"password":{"type":"string","description":"","format":"password","nullable":true},"push_token":{"type":"string","description":""},"credits":{"type":"integer","format":"int64","description":"","default":"2"},"sub_tier":{"type":"string","description":"","default":"free"},"rc_app_user_id":{"type":"string","description":""},"preferences":{"type":"object","description":"","nullable":true},"magic_code":{"type":"string","description":""},"magic_code_expires_at":{"type":"number","format":"timestamptz","description":""},"role":{"type":"string","description":"","enum":["admin","contrib","user","guest"],"default":"guest"}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}}}}