{"openapi":"3.0.0","info":{"title":"Letters","description":"","version":"0.0.1"},"servers":[{"url":"https://api.najman.app/api:hyEJD2He"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{}},"paths":{"/letter/symbol/{symbol}":{"get":{"operationId":"Letters/letter/symbol/{symbol}|GET","summary":"Get letter record by symbol (e.g. \u0022א\u0022)\nRetrieves a Letter record by its Hebrew symbol (e.g. \u0027א\u0027). Useful for frontend lookups.","description":"Get letter record by symbol (e.g. \u0022א\u0022)\nRetrieves a Letter record by its Hebrew symbol (e.g. \u0027א\u0027). Useful for frontend lookups.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["letter"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"symbol","in":"path","description":"The Hebrew character (e.g. \u0027א\u0027, \u0027ב\u0027). exact match.","required":true,"schema":{"type":"string"}},{"name":"lang","in":"query","description":"Universal i18n rule. If provided, returns flattened content.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/letter/{letter_id}":{"delete":{"operationId":"Letters/letter/{letter_id}|DELETE","summary":"Delete letter record","description":"Delete letter record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["letter"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"letter_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"get":{"operationId":"Letters/letter/{letter_id}|GET","summary":"Get letter record\nRetrieves a single Letter record by its database ID.","description":"Get letter record\nRetrieves a single Letter record by its database ID.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["letter"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"letter_id","in":"path","description":"The unique integer ID of the letter (1-22).","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"lang","in":"query","description":"Universal i18n rule. If provided, returns flattened content. Defaults to \u0027en\u0027 in this endpoint for safety.","required":false,"schema":{"type":"string","default":"en"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"patch":{"operationId":"Letters/letter/{letter_id}|PATCH","summary":"Edit letter record","description":"Edit letter record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["letter"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"letter_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"symbol":{"type":"string","description":""},"latin_id":{"type":"string","description":""},"visual_content":{"type":"object","description":"","nullable":true},"i18n_content":{"type":"object","description":"","nullable":true}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"type":"string","description":""},"latin_id":{"type":"string","description":""},"visual_content":{"type":"object","description":"","nullable":true},"i18n_content":{"type":"object","description":"","nullable":true}},"required":["symbol","latin_id","visual_content","i18n_content"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"symbol":{"type":"string","description":""},"latin_id":{"type":"string","description":""},"visual_content":{"type":"object","description":"","nullable":true},"i18n_content":{"type":"object","description":"","nullable":true}},"required":["symbol","latin_id","visual_content","i18n_content"]}}}}},"put":{"operationId":"Letters/letter/{letter_id}|PUT","summary":"Update letter record","description":"Update letter record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["letter"],"security":[{"bearerAuth":[]}],"parameters":[{"name":"letter_id","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"symbol":{"type":"string","description":""},"latin_id":{"type":"string","description":""},"visual_content":{"type":"object","description":"","nullable":true},"i18n_content":{"type":"object","description":"","nullable":true}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"type":"string","description":""},"latin_id":{"type":"string","description":""},"visual_content":{"type":"object","description":"","nullable":true},"i18n_content":{"type":"object","description":"","nullable":true}},"required":["symbol","latin_id","visual_content","i18n_content"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"symbol":{"type":"string","description":""},"latin_id":{"type":"string","description":""},"visual_content":{"type":"object","description":"","nullable":true},"i18n_content":{"type":"object","description":"","nullable":true}},"required":["symbol","latin_id","visual_content","i18n_content"]}}}}}},"/letter":{"get":{"operationId":"Letters/letter|GET","summary":"Query all letter records\nRetrieves the full list of Hebrew Letters (22 entries). Essential for preloading content.","description":"Query all letter records\nRetrieves the full list of Hebrew Letters (22 entries). Essential for preloading content.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["letter"],"security":[],"parameters":[{"name":"lang","in":"query","description":"Universal i18n rule. If provided (e.g. \u0027fr\u0027), returns flattened localized content. If null, returns full JSON structure.","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"symbol":{"type":"string","description":""},"latin_id":{"type":"string","description":""},"visual_content":{"type":"object","description":"","nullable":true},"i18n_content":{"type":"object","description":"","nullable":true}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}},"post":{"operationId":"Letters/letter|POST","summary":"Add letter record","description":"Add letter record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required","tags":["letter"],"security":[{"bearerAuth":[]}],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":""},"symbol":{"type":"string","description":""},"latin_id":{"type":"string","description":""},"visual_content":{"type":"object","description":"","nullable":true},"i18n_content":{"type":"object","description":"","nullable":true}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"symbol":{"type":"string","description":""},"latin_id":{"type":"string","description":""},"visual_content":{"type":"object","description":"","nullable":true},"i18n_content":{"type":"object","description":"","nullable":true}},"required":["symbol","latin_id","visual_content","i18n_content"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"symbol":{"type":"string","description":""},"latin_id":{"type":"string","description":""},"visual_content":{"type":"object","description":"","nullable":true},"i18n_content":{"type":"object","description":"","nullable":true}},"required":["symbol","latin_id","visual_content","i18n_content"]}}}}}}}}